.group-body{
    width: 100%;
    height: 100%;
    overflow-y: scroll ;
    position: relative;
    background: #15181D;    
}

.my-group-body{
    width: 100%;
    padding-left: 80px;
    padding-right: 100px;
    color: white;
}

.my-group-header{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}

.my-group-actions{
    display: flex;
    justify-content: space-between;
    width: 450px;
    align-items: center;
    gap: 20px;
}

.group-buttons{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    border: none;
    color: #fff;
    font-weight: 700;

    font-family: 'Inter';
    font-size: 20px;
    background-color: #863BC0;
}

.overlayCenter{
    height: 90%;
    margin-top: 100px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,-50%);
    overflow-y: scroll;
}
.overlayCenter::-webkit-scrollbar {
    display: none;
}

.joined-group-body{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding-left: 80px;
    padding-right: 100px;
}


.group-content-body{
    width: 1020px;
    height: 2700px;
    background-color: #15181D;
    display: flex;
    margin-top: 100px;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.group-content-body::-webkit-scrollbar {
    display: none;
}

.group-content-layout{
    height: 600px;
    width: inherit;
}

.group-content-layout-pie{
    height: 600px;
    width: inherit;
    align-items: center;
}

.group-content-img{
    background-color: black;
    height: 600px;
    width: inherit;
}

.group-close-btn{
    position: fixed;
    z-index:999;
    top:250px;
    right:50px;
}

.group-box{
    box-sizing: border-box;
    width: 520px;
    height: 300px;
    background: linear-gradient(288.81deg, #E4C96B -2.18%, #E2C662 -2.17%, rgba(232, 210, 131, 0.788485) 101.07%, rgba(239, 223, 166, 0.564177) 104.47%, rgba(247, 240, 212, 0.27086) 109.46%, rgba(255, 255, 255, 0.498996) 117.56%, rgba(255, 255, 255, 0) 117.57%);
    border: 4px solid #000000;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 25px;
}

.created-group-body-content::-webkit-scrollbar {
    display: none;
}

.created-group-body-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 15px;
}

.group-progress-Box{
    box-sizing: border-box;
    width: 315px;
    height: 100px;
    border: 5px solid #EAE7E7;
    border-radius: 10px;
    background-color: #863BC0;
    position: relative;
    padding: 6px;
}

.group-progress{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}

.group-flex-col{
    display: flex;
    flex-direction: column;
}

.group-flex-row{
    display: flex;
    flex-direction: row;
}

.group-progress-Box-header{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group-progress-Box-body{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.group-progress-Box-footer{
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    opacity: 0.5;
}

.group-progress-Box-footer-deadline{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

    opacity: 0.5;
}

.group-members{
    padding: 50px;
}

.group-members-content{
    padding: 100px;
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.group-member-card{
    width: 115px;
    height: 150px;
        
    border: 5px solid #EAE7E7;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);

}


.group-pie-Box{
    justify-content: center;
}

.group-pie-chart{
    height: 400px;
    width: 400px;
}

.group-pie-chart-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

